/* 
This is needed to prevent react-remove-scroll-bar from 
adding padding-right: 15px to the body when switching 
from the menu modal to the cart modal. 
*/
body {
  padding-right: 0 !important;
}
/* 
Only used to change the color of icons when the 
parent div is hovered over.
*/
.cart-container:hover path {
  fill: #d87d4a; /* caramel color */
}

.cart-container:hover .exclamation {
  background-color: #d87d4a;
}

.shopLink:hover p {
  color: #d87d4a; /* caramel color */
  opacity: 1;
}
